<!doctype html>
<html lang="us">
<head>
    <base href="#(basepath)">
    <meta charset="utf-8">

    <link href="css/style.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">

    <link href="css/layout.css" rel="stylesheet">

    <title>jQuery UI Example Page</title>
</head>
<body>

<button id="ads_addVideo" class="btn btn-primary" type="button">video</button>
<button id="ads_addPicture" class="btn btn-primary" type="button">picture</button>
<button id="ads_addNews" class="btn btn-primary" type="button">news</button>
<button id="ads_addWeather" class="btn btn-primary" type="button">weather</button>
<button id="ads_submit" class="btn btn-primary" type="button">提交</button>
<br><br>
<div id="ads_contentLayout">

</div>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>

<!--common scripts for all pages-->
<script src="js/layout.js"></script>

<style type="text/css">
    body {
        background: white;
        padding: 20px 20px 20px 20px;
    }
</style>
</body>
</html>
